:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
.screenUI{
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/background-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}